.scheduleDayRow.active {

  ::ng-deep {

    app-page-title .pageTitle {
      color: var(--secondary-color);
    }
  }
}

@media only screen and (min-width: 64rem) {

  .scheduleColumn {
    border-left: 1px solid var(--card-border);
  }
}
