<div class="container">
  <app-page-title [title]="'imprint' | translate"></app-page-title>

  <div class="imprint">
    <div class="grid">
      <div class="col-12">
        <p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
        <p>
          <strong>Radio Rasclat e.V.i.G.</strong>
        </p>
        <p>
          ruruHaus<br />
          c/o Radio Rasclat<br />
          Obere Königsstraße 43<br />
          34117 Kassel<br />
          Deutschland
        </p>
        <p>
          {{ 'email' | translate }}:
          <a
            href="mailto:office@radio-rasclat.com"
            title="E-Mail an office@radio-rasclat.com"
            >office@radio-rasclat.com</a
          ><br />{{ 'internet' | translate }}:
          <a href="https://radio-rasclat.com/" title="Radio Rasclat"
            >radio-rasclat.com</a
          >
        </p>
        <p>&nbsp;</p>
        <p><strong>1. Vorsitzender</strong></p>
        <p>
          Domenik Töfflinger<br /><a href="mailto:domenik@radio-rasclat.com"
            >domenik (at) radio-rasclat.com</a
          >
        </p>
        <p><strong>2. Vorsitzender</strong></p>
        <p>
          Dario Fiege<br /><a href="mailto:dario@radio-rasclat.com"
            >dario (at) radio-rasclat.com</a
          >
        </p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Copyright</strong></p>
        <p>
          Alle Rechte vorbehalten. Die auf der Website verwendeten Texte,
          Bilder, Grafiken, Dateien usw. unterliegen dem Urheberrecht und
          anderen Gesetzen zum Schutz des geistigen Eigentums. Ihre Weitergabe,
          Veränderung, gewerbliche Nutzung oder Verwendung in anderen Websites
          oder Medien ist nicht gestattet.
        </p>
        <p>&nbsp;</p>
        <p><strong>Datenschutz</strong></p>
        <p>
          Wir erheben, verarbeiten und nutzen Ihre Daten nur im Rahmen der
          gesetzlichen Bestimmungen. Diese Datenschutzerklärung gilt
          ausschließlich für die Nutzung der von uns angebotenen Webseiten. Sie
          gilt nicht für die Webseiten anderer Dienstanbieter, auf die wir
          lediglich durch einen Link verweisen. Bei der Nutzung unserer
          Webseiten bleiben Sie anonym, solange Sie uns nicht von sich aus
          freiwillig personenbezogene Daten zur Verfügung stellen.
          Personenbezogene Daten werden nur dann erhoben, wenn dies für die
          Nutzung der auf der Webseite angebotenen Leistungen, insbesondere
          Formularangebote, erforderlich ist.
        </p>
        <p>
          Wir werden die von Ihnen zur Verfügung gestellten Daten streng
          vertraulich behandeln. Ohne Ihre ausdrückliche Einwilligung geben wir
          keine persönlichen Daten weiter, es sei denn, dass wir rechtlich dazu
          verpflichtet sind. Wir weisen jedoch darauf hin, dass es bei der
          Übermittlung von Daten im Internet immer dazu kommen kann, dass Dritte
          Ihre Daten zur Kenntnis nehmen oder verfälschen. Sofern Sie es von uns
          verlangen, gewähren wir Ihnen Einblick in die über Sie gespeicherten
          Daten, beziehungsweise löschen diese. Wenn Sie Daten berichtigen,
          löschen oder einsehen wollen, genügt hierfür ein Schreiben an die im
          Impressum angegebene Adresse.<span>
            Im Rahmen der Benachrichtigung unserer Kunden über Produktneuheiten,
            etc. senden wir Ihnen E-Mails nur zu, sofern Sie uns Ihre
            E-Mail-Adresse zur Verfügung stellen.</span
          >
        </p>
        <p><span>&nbsp;</span></p>
        <p><strong>Online-Streitschlichtungsplattform</strong></p>
        <p>
          Die Online-Streitschlichtungsplattform (OS-Plattform) der EU ist unter
          folgendem Link erreichbar:&nbsp;<a
            href="https://ec.europa.eu/consumers/odr/"
            >https://ec.europa.eu/consumers/odr/</a
          >
        </p>
        <p>
          Zur Teilnahme an einem Streitbeilegungsverfahren vor einer
          Verbraucherschlichtungsstelle sind wir nicht verpflichtet und
          grundsätzlich nicht bereit.
        </p>
        <p>&nbsp;</p>
        <p><strong>Hinweis gemäß Teledienstgesetz</strong></p>
        <p>
          Für Websites Dritter, auf die der Herausgeber durch sogenannte Links
          verweist, tragen die jeweiligen Anbieter die Verantwortung. Der
          Herausgeber ist für den Inhalt solcher Sites Dritter nicht
          verantwortlich. Des weiteren kann die Website des Herausgebers ohne
          dessen Wissen von anderen Websites mittels sogenannter Links angelinkt
          werden. Der Herausgeber übernimmt keine Verantwortung für
          Darstellungen, Inhalt oder irgendeine Verbindung zur Parteigliederung
          des Herausgebers in Websites Dritter. Für fremde Inhalte ist der
          Herausgeber nur dann verantwortlich, wenn er von ihnen (d.h. auch von
          einem rechtswidrigen oder strafbaren Inhalt) positive Kenntnis hat und
          es dem Herausgeber technisch möglich und zumutbar ist, deren Nutzung
          zu verhindern. Der Herausgeber ist nach dem Teledienstgesetz jedoch
          nicht verpflichtet, die fremden Inhalte ständig zu überprüfen.
        </p>
        <p>&nbsp;</p>
        <p><strong>Haftungsausschluss</strong></p>
        <p>
          Die Inhalte des Internetauftritts wurden mit größtmöglicher Sorgfalt
          und nach bestem Gewissen erstellt. Dennoch übernimmt der Anbieter
          dieser Webseite keine Gewähr für die Aktualität, Vollständigkeit und
          Richtigkeit der bereitgestellten Seiten und Inhalte.
        </p>
        <p>
          Als Diensteanbieter ist der Anbieter dieser Webseite gemäß § 7 Abs. 1
          TMG für eigene Inhalte und bereitgestellte Informationen auf diesen
          Seiten nach den allgemeinen Gesetzen verantwortlich; nach den §§ 8 bis
          10 TMG jedoch nicht verpflichtet, die übermittelten oder gespeicherten
          fremden Informationen zu überwachen. Eine Entfernung oder Sperrung
          dieser Inhalte erfolgt umgehend ab dem Zeitpunkt der Kenntnis einer
          konkreten Rechtsverletzung. Eine Haftung ist erst ab dem Zeitpunkt der
          Kenntniserlangung möglich.
        </p>
        <p>&nbsp;</p>
        <p><strong>Wichtige Hinweise zu Links</strong></p>
        <p>
          Mit Urteil vom 12.05.1998 Az. 312 O 85/98 hat das LG Hamburg
          entschieden, dass durch die Anbringung eines Links die auf dieser
          Seite enthaltenen Informationen ggf. mit zu verantworten sind. Dies
          könne nach Auffassung des LG Hamburg nur dadurch vermieden werden,
          dass eine ausdrückliche Distanzierung erfolge. Dementsprechend
          distanzieren wir uns vorsorglich ausdrücklich von den Inhalten der
          Seiten, deren Links Sie hier finden oder die sonst über unsere Seite
          erreichbar sind. Die Inhalte dieser Seiten unterliegen ausschließlich
          dem Verantwortungsbereich Dritter. Wir haben auf die Inhalte keinen
          Einfluss, weshalb wir keinerlei Haftung für dort enthaltene
          Informationen übernehmen können und wollen.
        </p>
      </div>
    </div>
  </div>
</div>
