<div class="grid">
  <div class="col-12" *ngIf="isLoading == false && blogPosts?.length == 0">
    <app-text-seperator
      [text]="'noBlogPostsFound' | translate"
      [isLink]="false"
    >
    </app-text-seperator>
  </div>
</div>

<div class="blogPostList" *ngIf="!isLoading == true">
  <div class="grid">
    <div
      class="col-start-1 col-end-13 col-start-3@sm col-end-11@sm col-start-4@md col-end-10@md"
    >
      <div
        class="blogPostEntry"
        *ngFor="let blogPost of blogPosts?.slice(0, limit)"
      >
        <div class="blogPostEntry__wrapper">
          <div class="blogPostEntry__header">
            <div class="blogPostEntry__image__container">
              <a routerLink="/blog/post/{{ blogPost?.slug }}">
                <figure class="blogListBanner">
                  <img
                    [defaultImage]="defaultImage"
                    [lazyLoad]="blogPost?.image"
                    alt="{{ blogPost?.title }}"
                  />
                </figure>
              </a>
            </div>
          </div>
          <div class="blogPostEntry__body">
            <div class="blogPostEntry__meta">
              <div class="blogPostEntry__date">
                {{ blogPost?.createdAt | date: 'dd.MM.yyyy' }} —
                {{ 'readingTime' | translate }}:
                {{ blogPost?.description | readingtime }}
                {{ 'minutes' | translate }}
              </div>
              <div class="blogPostEntry__title">
                <a routerLink="/blog/post/{{ blogPost?.slug }}">
                  <h3>{{ blogPost?.title }}</h3>
                </a>
              </div>
            </div>
            <div class="blogPostEntry__excerpt">
              <span
                [innerHTML]="
                  blogPost?.description.length > 300
                    ? (blogPost?.description | slice: 0:300) + '...'
                    : blogPost?.description
                "
              ></span>
            </div>
            <div class="blogPostEntry__readMore">
              <a
                class="btn btn-secondary"
                routerLink="/blog/post/{{ blogPost?.slug }}"
                >{{ 'readMore' | translate }} ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
