/* Blog Posts List App */

.blogPostList {
	margin-top: 1rem;
}

.blogPostList .blogPostEntry {
	margin: 2rem 0;
	position: relative;
	transition: none;
	background: var(--card-light-background);
	border-radius: var(--card-border-radius);
}

.blogPostList .blogPostEntry:first-child {
	margin: 0 0 2rem;
}

.blogPostList .blogPostEntry .blogPostEntry__body {
	padding: 2rem;
}

.blogPostList .blogPostEntry .blogPostEntry__meta {
	margin-bottom: 1rem;
}

.blogPostList .blogPostEntry .blogPostEntry__meta .blogPostEntry__date {
	color: var(--text-color-light);
	margin-bottom: 1rem;
}

.blogPostList .blogPostEntry .blogPostEntry__excerpt {
	padding-bottom: 2rem;
}

.blogPostList .blogPostEntry .blogPostEntry__readMore {
	text-align: center;
	padding: 2rem 0 0;
	border-top: 1px solid var(--card-light-background-hover);
}

.blogPostList .blogPostEntry__image__container figure.blogListBanner {
	border-top-left-radius: var(--card-border-radius);
	border-top-right-radius: var(--card-border-radius);
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 60%;
}

.blogPostList .blogPostEntry__image__container figure.blogListBanner img {
	position: absolute;
	top: -1px;
	left: -1px;
	height: calc(100% + 2px);
	width: calc(100% + 2px);
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}
