dist: trusty

language: node_js
node_js:
  - '10'

addons:
  chrome: stable

cache:
  directories:
    - ./node_modules

install:
  - npm install

script:
  - npm run lint
  - npm run build
  - npm run e2e
  - npm test
  - bash sentry-deploy.sh

after_success:
  - codecov
