dist: trusty

language: node_js
node_js:
  - '10'

addons:
  chrome: stable

cache:
  directories:
    - ./node_modules

install:
  - npm install

script:
  - npm run lint
  - npm run build
  - npm run e2e
  - npm test
  - bash sentry-deploy.sh

jobs:
  include:
    - stage: Lint
      script: npm run lint
    - stage: Build
      script: npm run build
    - stage: Test
      script: npm test
    - script: ng e2e
    - stage: Sentry Deploy
      script: bash sentry-deploy.sh

after_success:
  - codecov
