dist: trusty

language: node_js
node_js:
  - '10'

addons:
  chrome: stable
  sonarcloud:
    organization: 'dmnktoe'
    token:
      secure: ${SONAR_TOKEN}

cache:
  directories:
    - ./node_modules

install:
  - npm install

script:
  - npm test
  - npm run build
  - bash sentry-deploy.sh
  - sonar-scanner

after_success:
  - codecov
