.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
  z-index: 95;
}

a.btn.scrollTop {
  background: var(--secondary-color);
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
