<div class="container">
  <div class="aboutPage">
    <app-page-title [title]="'about' | translate"></app-page-title>
    <app-page-banner
      [image]="'./../../../assets/images/radio-rasclat-about.jpg'"
    ></app-page-banner>
    <app-text-seperator [text]="'„Wheel up.“'"></app-text-seperator>
    <div class="grid grid-gap-md">
      <div class="col-12">
        <h2>{{ 'appTitle' | translate }}</h2>
        <p>&nbsp;</p>
      </div>
      <div class="col-12 col-4@md">
        <p>
          <strong
            >Stimulating the gun-finger with Bass Music from Kassel.</strong
          >
        </p>
      </div>
      <div class="col-12 col-8@md">
        <p>
          Radio Rasclat is a non-commercial internet radio station which is
          going to stream your music to the web, again! It offers you a platform
          to play & try out. It serves as a place for the exchange, dialogue and
          cooperation of music. Founded and curated in 2019, the radio returns
          to the new venue at KMMN 3.
        </p>
      </div>
    </div>
    <app-page-title [title]="'Milestones'"></app-page-title>
    <div class="grid grid-gap-md">
      <div class="col-12 col-4@md">
        <h5>{{ 'season' | translate }} °1</h5>
        <p>17.07.2019 — 19.07.2019</p>
      </div>
      <div class="col-12 col-8@md">
        <p>
          <strong>Kunsthochschule Kassel Rundgang:</strong>
        </p>
        <p [innerHTML]="'seasonOneDescription' | translate"></p>
      </div>
    </div>
    <div class="grid grid-gap-md">
      <div class="col-12 col-4@md">
        <h5>{{ 'season' | translate }} °2</h5>
        <p>10.01.2020 — 31.05.2020</p>
      </div>
      <div class="col-12 col-8@md">
        <p>
          <strong>KMMN III:</strong>
        </p>
        <p [innerHTML]="'seasonTwoDescription' | translate"></p>
      </div>
    </div>
    <div class="grid grid-gap-md">
      <div class="col-12 col-4@md">
        <h5>{{ 'season' | translate }} °3</h5>
        <p>01.06.2020 — 31.09.2020</p>
      </div>
      <div class="col-12 col-8@md">
        <p>
          <strong>Central Service:</strong>
        </p>
        <p [innerHTML]="'seasonThreeDescription' | translate"></p>
      </div>
    </div>
    <app-page-title
      [title]="'environmentalProtection' | translate"
    ></app-page-title>
    <div class="grid grid-gap-md">
      <div class="col-12 col-4@md">
        <h3 style="color: #38ad48">
          {{ 'renewableEnergies' | translate }}
        </h3>
      </div>
      <div class="col-12 col-8@md">
        <p>
          {{ 'renewableEnergiesDescription' | translate }}
        </p>
      </div>
    </div>
    <app-page-title [title]="'thankYou' | translate"></app-page-title>
    <div class="grid grid-gap-md">
      <div class="col-12 col-4@md">
        <h3>Hall of Fame.</h3>
      </div>
      <div class="col-12 col-8@md">
        <p>
          We would like to thank all our amazing artists and guests such as
          <span [hidden]="isLoading" *ngFor="let artist of artists">
            {{ artist?.title }},
          </span>
          who have been part of the program!
        </p>
      </div>
    </div>
    <app-page-title [title]="'partners' | translate"></app-page-title>
    <div class="partnersList">
      <div class="grid-auto-md grid-auto-xl@md grid-gap-md">
        <div class="partner">
          <img src="assets/partners/kassel.svg" alt="Kassel Kulturamt" />
        </div>
        <div class="partner">
          <img src="assets/partners/uni-kassel.svg" alt="Universität Kassel" />
        </div>
        <div class="partner">
          <img
            src="assets/partners/kunsthochschule-kassel.svg"
            alt="Kunsthochschule Kassel"
          />
        </div>
        <div class="partner">
          <img src="assets/partners/r-ein.svg" alt="R:EIN" />
        </div>
        <div class="partner">
          <img src="assets/partners/feiertag.svg" alt="Galerie Feiertag" />
        </div>
        <div class="partner">
          <img src="assets/partners/kmmn.svg" alt="Galerie Feiertag" />
        </div>
      </div>
    </div>
  </div>
</div>
