@import "~theme/_z-index.scss";

body.modal-open {
  overflow: hidden;
}

modal {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map-get($z-index, modal);
  overflow: auto;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: .75;
  z-index: map-get($z-index, modal-overlay);
}

.modal-body {
  padding: 2.5rem 2rem;
  background: var(--page-background);
  margin: 0;
  border-radius: var(--border-radius);
}

@media only screen and (min-width: 32rem) {

  .modal-body {
    margin: 1rem;
  }
}

@media only screen and (min-width: 48rem) {

  .modal-body {
    margin: 3rem;
  }
}

@media only screen and (min-width: 64rem) {

  .modal-body {
    margin: 5rem;
  }
}

@media only screen and (min-width: 80rem) {

  .modal-body {
    margin: 5rem 15rem;
  }
}
