<div class="top__banner" *ngIf="bannerVisible">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <div class="top__banner__inner">
          <div class="top__banner__inner__text">
            👋 {{ 'donateText' | translate }}
          </div>
          <div class="top__banner__inner__controls">
            <div class="top__banner__inner__controls_btn">
              <a class="btn btn-secondary" href="https://donorbox.org/radio-rasclat" target="_blank">
                {{ 'donate' | translate }} >
              </a>
            </div>
            <a (click)="hideBanner()">
              <svg-icon key="menuClose"></svg-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
