@import "~theme/_z-index.scss";

.top__banner {
	background: var(--secondary-color-light);
	z-index: map-get($z-index, top-banner);
}

.top__banner__inner {
	padding: .5rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top__banner__inner__text {
	display: inline-flex;
}

.top__banner__inner__controls {
	display: flex;
	align-items: center;
}

.top__banner__inner__controls_btn {
	margin: 0 1rem;
	min-width: 115px;
}

.top__banner svg-icon.svg-icon-menu,
svg-icon.svg-icon-menuClose {
	width: 15px;
	height: 10px;
}

@media only screen and (min-width: 32rem) {

	header svg-icon.svg-icon-menu,
	svg-icon.svg-icon-menuClose {
		width: 18px;
		height: 12px;
	}

	.top__banner__inner__controls_btn {
		min-width: 125px;
	}
}

@media only screen and (min-width: 48rem) {

	header svg-icon.svg-icon-menu,
	svg-icon.svg-icon-menuClose {
		width: 19px;
		height: 12px;
	}

	.top__banner__inner {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 64rem) {

	header svg-icon.svg-icon-menu,
	svg-icon.svg-icon-menuClose {
		width: 21px;
		height: 13px;
	}
}

@media only screen and (min-width: 80rem) {

	header svg-icon.svg-icon-menu,
	svg-icon.svg-icon-menuClose {
		width: 22px;
		height: 14px;
	}
}
