<div class="projectsSlideshow" *ngIf="!isLoading">
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let project of projects">
        <a routerLink="/events/event/{{ project?.slug }}">
          <div
            class="projectSlide"
            [defaultImage]="defaultImage"
            [lazyLoad]="project?.image"
          ></div>
        </a>
        <div class="projectSlideCaptionWrapper">
          <div class="projectSlideCaption">
            <div class="projectSlideCaption__textArea">
              {{ project?.timeStart | date: 'dd.MM.yyyy' }}<br />
              <a routerLink="/events/event/{{ project?.slug }}">
                {{ project?.title }} <span style="color: #6157f7">»</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="projectsSlideshow" *ngIf="isLoading">
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="projectSlide">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ width: '100%', height: '200px' }"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="projectSlideCaptionWrapper">
          <div class="projectSlideCaption">
            <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="projectSlide">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ width: '100%', height: '200px' }"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="projectSlideCaptionWrapper">
          <div class="projectSlideCaption">
            <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="projectSlide">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ width: '100%', height: '200px' }"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="projectSlideCaptionWrapper">
          <div class="projectSlideCaption">
            <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="projectSlide">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ width: '100%', height: '200px' }"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="projectSlideCaptionWrapper">
          <div class="projectSlideCaption">
            <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
