<div class="grid" *ngIf="!isLoading">
  <div class="col-12">
    <div class="slideshowSlider">
      <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngIf="live">
            <div
              class="slideshowSlide"
              [defaultImage]="defaultImage"
              [lazyLoad]="live?.image"
            >
              <div class="slideshowSlideInner">
                <div class="slideshowSlideCaptionWrapper">
                  <div class="slideshowSlideCaption">
                    <div class="slideshowSlideCaption__playArea">
                      <span
                        (click)="play()"
                        *ngIf="
                          !state?.playing ||
                          state.currentTrack.currentSrc != this.streamUrl
                        "
                        class="liveInfo center"
                      >
                        <svg-icon key="play"></svg-icon>
                      </span>
                      <span
                        (click)="pause()"
                        *ngIf="
                          state?.playing &&
                          state.currentTrack.currentSrc == this.streamUrl
                        "
                        class="liveInfo center"
                      >
                        <svg-icon key="pause"></svg-icon>
                      </span>
                    </div>
                    <div
                      class="slideshowSlideCaption__textArea"
                      (click)="play()"
                    >
                      <span class="pulse"></span> {{ 'live' | translate }} on
                      Radio Rasclat &mdash; {{ live?.timeEnd | timeago }} left
                      <h4>{{ live?.title }}</h4>
                    </div>
                  </div>
                </div>
                <div class="slideIndicator live">{{ 'live' | translate }}</div>
              </div>
            </div>
          </div>
          <!-- <div class="swiper-slide toggleable" *ngIf="live">
            <div class="slideshowSlide">
              <div class="slideshowSlideInner">
                <div class="slideshowSlideCaptionWrapper">
                  <div class="slideshowSlideCaption">
                    <div class="slideshowSlideCaption__textArea">
                      Stream the KW36 live.<br />
                      <h4>Radio Rasclat now live on Twitch!</h4>
                    </div>
                  </div>
                </div>
                <iframe
                  src="https://player.twitch.tv/?channel=RadioRasclat&parent=radio-rasclat.com"
                  height="100%"
                  width="100%"
                  allowfullscreen="true"
                  title="Radio Rasclat Twitch"
                >
                </iframe>
              </div>
            </div>
          </div> -->
          <div class="swiper-slide" *ngIf="nextUp">
            <div
              class="slideshowSlide"
              [defaultImage]="defaultImage"
              [lazyLoad]="nextUp?.image"
            >
              <div class="slideshowSlideInner">
                <div class="slideshowSlideCaptionWrapper">
                  <div class="slideshowSlideCaption">
                    <div class="slideshowSlideCaption__textArea">
                      {{ 'nextUp' | translate }} on Radio Rasclat &mdash;
                      {{ nextUp?.timeStart }}<br />
                      <h4>{{ nextUp?.title }}</h4>
                    </div>
                  </div>
                </div>
                <div class="slideIndicator nextUp">
                  {{ 'nextUp' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" *ngIf="hotRecording">
            <div
              class="slideshowSlide"
              [defaultImage]="defaultImage"
              [lazyLoad]="hotRecording?.image"
            >
              <a routerLink="/broadcasts/{{ hotRecording?.slug }}">
                <div class="slideshowSlideInner">
                  <div class="slideshowSlideCaptionWrapper">
                    <div class="slideshowSlideCaption">
                      <!-- <div class="slideshowSlideCaption__playArea">
                        <svg-icon key="play"></svg-icon>
                      </div> -->
                      <div class="slideshowSlideCaption__textArea">
                        {{ 'hotThisMonth' | translate }} &mdash;
                        {{ hotRecording?.viewCounter }} plays:<br />
                        <h4>{{ hotRecording?.title }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            class="swiper-slide"
            *ngFor="let recording of recordings | slice: 0:1; let i = index"
          >
            <div
              class="slideshowSlide"
              [defaultImage]="defaultImage"
              [lazyLoad]="recording?.image"
            >
              <a routerLink="/broadcasts/{{ recording?.slug }}">
                <div class="slideshowSlideInner">
                  <div class="slideshowSlideCaptionWrapper">
                    <div class="slideshowSlideCaption">
                      <div class="slideshowSlideCaption__textArea">
                        {{ recording?.show.title }} —
                        {{ recording?.timeStart | timeago }}:<br />
                        <h4>{{ recording?.title }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            class="swiper-slide"
            *ngFor="let recording of recordings | slice: 1:2; let i = index"
          >
            <div
              class="slideshowSlide"
              [defaultImage]="defaultImage"
              [lazyLoad]="recording?.image"
            >
              <a routerLink="/broadcasts/{{ recording?.slug }}">
                <div class="slideshowSlideInner">
                  <div class="slideshowSlideCaptionWrapper">
                    <div class="slideshowSlideCaption">
                      <div class="slideshowSlideCaption__textArea">
                        {{ recording?.show.title }} —
                        {{ recording?.timeStart | date: 'dd.MM.yyyy' }} •
                        {{ recording?.timeStart | date: 'HH:mm' }}<br />
                        <h4>{{ recording?.title }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            class="swiper-slide"
            *ngFor="let blogPost of blogPosts | slice: 0:1; let i = index"
          >
            <div
              class="slideshowSlide"
              [defaultImage]="defaultImage"
              [lazyLoad]="blogPost?.image"
            >
              <a routerLink="/blog/post/{{ blogPost?.slug }}">
                <div class="slideshowSlideInner">
                  <div class="slideshowSlideCaptionWrapper">
                    <div class="slideshowSlideCaption">
                      <div class="slideshowSlideCaption__textArea">
                        {{ 'fromOurBlog' | translate }} &mdash;
                        {{ blogPost?.createdAt | date: 'dd.MM.yyyy' }}<br />
                        <h4>{{ blogPost?.title }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            class="swiper-slide"
            *ngFor="let project of projects | slice: 0:1; let i = index"
          >
            <div
              class="slideshowSlide"
              [defaultImage]="defaultImage"
              [lazyLoad]="project?.image"
            >
              <a routerLink="/events/event/{{ project?.slug }}">
                <div class="slideshowSlideInner">
                  <div class="slideshowSlideCaptionWrapper">
                    <div class="slideshowSlideCaption">
                      <div class="slideshowSlideCaption__textArea">
                        {{ 'events' | translate }} &mdash;
                        {{ project?.timeStart | timeago }}<br />
                        <h4>{{ project?.title }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div
            class="swiper-slide"
            *ngFor="let recording of recordings | slice: 2:5; let i = index"
          >
            <div
              class="slideshowSlide"
              [defaultImage]="defaultImage"
              [lazyLoad]="recording?.image"
            >
              <a routerLink="/broadcasts/{{ recording?.slug }}">
                <div class="slideshowSlideInner">
                  <div class="slideshowSlideCaptionWrapper">
                    <div class="slideshowSlideCaption">
                      <div class="slideshowSlideCaption__textArea">
                        {{ recording?.show.title }} —
                        {{ recording?.timeStart | date: 'dd.MM.yyyy' }} •
                        {{ recording?.timeStart | date: 'HH:mm' }}<br />
                        <h4>{{ recording?.title }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid" *ngIf="isLoading">
  <div class="col-12">
    <div class="slideshowSlider">
      <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slideshowSlide loading">
              <div class="slideshowSlideInner">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    height: '450px',
                    width: '100%',
                    background: 'transparent'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slideshowSlide loading">
              <div class="slideshowSlideInner">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    height: '450px',
                    width: '100%',
                    background: 'transparent'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slideshowSlide loading">
              <div class="slideshowSlideInner">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    height: '450px',
                    width: '100%',
                    background: 'transparent'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
