<div *ngIf="isLoading">
  <span class="liveInfo center">
    <span class="liveInfo__wrapper">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          height: '1.5rem',
          width: '10rem',
          margin: '0'
        }"
      ></ngx-skeleton-loader>
    </span>
  </span>
</div>
<div *ngIf="!isLoading">
  <span
    (click)="play()"
    *ngIf="!state?.playing || state.currentTrack.currentSrc != this.streamUrl"
    class="liveInfo center"
  >
    <span class="liveInfo__wrapper">
      <span class="playerControls">
        <svg-icon key="play"></svg-icon>
      </span>
      <span class="playerMeta">
        <span *ngIf="currentShowName">
          Live:
          {{
            currentShowName.length > 30
              ? (currentShowName | slice: 0:30 | safeHtml) + '...'
              : (currentShowName | safeHtml)
          }}
        </span>
        <span *ngIf="!currentShowName">OFF AIR.</span>
      </span>
    </span>
  </span>
  <span
    (click)="pause()"
    *ngIf="state?.playing && state.currentTrack.currentSrc == this.streamUrl"
    class="liveInfo center"
  >
    <span class="liveInfo__wrapper">
      <span class="playerControls">
        <svg-icon key="pause"></svg-icon>
      </span>
      <span class="playerMeta">
        <span *ngIf="currentShowName">
          Live:
          {{
            currentShowName.length > 30
              ? (currentShowName | slice: 0:30 | safeHtml) + '...'
              : (currentShowName | safeHtml)
          }}
        </span>
        <span *ngIf="!currentShowName">OFF AIR.</span>
      </span>
    </span>
  </span>
</div>
