.liveInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.liveInfo__wrapper {
  display: flex;
  align-items: center;
}

.liveInfo__wrapper:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.liveInfo.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.liveInfo .playerControls {
  position: relative;
  margin-right: .5rem;
  width: 1rem;
}

.liveInfo .playerMeta {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

svg-icon {
  width: 11px;
  height: 11px;
}

@media only screen and (min-width: 32rem) {

  svg-icon {
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 48rem) {

  svg-icon {
    width: 13px;
    height: 13px;
  }
}

@media only screen and (min-width: 64rem) {

  svg-icon {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (min-width: 80rem) {

  svg-icon {
    width: 15px;
    height: 15px;
  }
}
