.language__single {
  width: 100%;
  display: block;
  position: relative;
  border-radius: 5px;
  border: 1px solid var(--page-background);
  cursor: pointer;
}

.language__single.active {
  border: 1px solid var(--primary-color);
}

.language__single__wrapper {
  background: var(--card-light-background);
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.15s ease;
  display: flex;
  align-items: center;
}

.language__single__wrapper:hover {
  background: var(--card-light-background-hover);
  cursor: pointer;
}

.language__single__wrapper img {
  width: 20px;
  border-radius: 3px;
}

.language__single__wrapper__flag {
  display: flex;
  margin-right: 0.5rem;
}

.progressbar {
  position: absolute;
  background: var(--primary-color);
  display: block;
  height: 100%;
  border-radius: 5px;
  opacity: 0.05;
}

.translationProgress {
  font-weight: 200;
}
