.language__single {
  width: 100%;
  display: block;
  position: relative;
  border-radius: var(--card-border-radius);
  border: 1px solid var(--page-background);
  cursor: pointer;
}

.language__single.active {
  border: 1px solid var(--text-color-light);
}

.language__single__wrapper {
  background: var(--card-light-background);
  border-radius: var(--card-border-radius);
  padding: 1rem;
  transition: var(--transition-time);
}

.language__single__wrapper:hover {
  background: var(--card-light-background-hover);
  cursor: pointer;
}

.progressbar {
  position: absolute;
  background: var(--primary-color);
  display: block;
  height: 100%;
  border-radius: var(--card-border-radius);
  opacity: .05;
}

.progressbar:hover ~ .language__single__wrapper {
  background: var(--card-light-background-hover);
  cursor: pointer;
}

.translationProgress {
  color: var(--text-color-light);
}
