<div class="languages" *ngIf="!isLoading">
  {{ currentLanguage }}
  <div class="grid-auto-md grid-gap-sm">
    <div
      class="language__single"
      [hidden]="isLoading"
      *ngFor="let language of availableLanguages"
      (click)="setLanguage(language.twoLettersCode)"
      [class.active]="currentLanguage === language.twoLettersCode.toUpperCase()"
    >
      <div
        class="progressbar"
        [style.width.%]="language.translationProgress"
      ></div>
      <div class="language__single__wrapper">
        <flag-icon country="{{ language.twoLettersCode }}"></flag-icon>
        {{ language.name }}
        <span class="translationProgress"
          >{{ language.translationProgress }}%</span
        >
      </div>
    </div>
  </div>
</div>
