.showSingle {
  border-bottom: 1px solid var(--card-border);
  padding: 0;
  margin-top: 1rem;
}

.show__info__container {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--card-border);
  margin-bottom: 1rem;

  .show__title h1 {
    line-height: 30px;
  }
}

.show__description__container {
  width: 100%;
  margin-bottom: 2rem;
}

.show__image__container {
  padding: 0;
  height: auto;
  display: block;
  position: relative;
}

.show__image__container figure.square {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid var(--card-border);
}

.show__image__container figure.square img {
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

@media only screen and (min-width: 32rem) {

  .show__info__container {

    .show__title h1 {
      line-height: 35px;
    }
  }

  .show__image__container {
    padding: 0 5rem;
  }
}

@media only screen and (min-width: 48rem) {

  .showSingle {
    padding: 0 0 2rem;
  }

  .show__info__container {

    .show__title h1 {
      line-height: 40px;
    }
  }

  .show__image__container {
    padding: 0;
  }
}

@media only screen and (min-width: 64rem) {

  .showSingle {
    border-bottom: 1px solid var(--card-border);
    padding: 0 0 4rem 0;
  }

  .show__info__container {

    .show__title h1 {
      line-height: 45px;
    }
  }
}
