.social-icon {
	margin-right: .3rem;
}

.social-icon:last-child {
	margin-right: 0;
}

.social-icon svg-icon {
	width: 15px;
}

@media only screen and (min-width: 32rem) {

	.social-icon svg-icon {
		width: 16px;
	}
}

@media only screen and (min-width: 48rem) {

	.social-icon {
		margin-right: .4rem;
	}

	.social-icon svg-icon {
		width: 18px;
	}
}

@media only screen and (min-width: 64rem) {

	.social-icon {
		margin-right: .45rem;
	}

	.social-icon svg-icon {
		width: 20px;
	}
}

@media only screen and (min-width: 80rem) {

	.social-icon {
		margin-right: .5rem;
	}

	.social-icon svg-icon {
		width: 22px;
	}
}
