<div class="container">
  <app-page-title [title]="'appTitle' | translate"></app-page-title>

  <app-slideshow
    [isLoading]="isLoading"
    [live]="currentShow"
    [nextUp]="nextShow"
    [recordings]="recordings"
    [hotRecording]="hotRecording"
    [blogPosts]="blogPosts"
    [projects]="projects"
  >
  </app-slideshow>

  <app-text-seperator
    [text]="'(' + recordings.length + ') ' + ('broadcasts' | translate) + ' >'"
    [isLink]="true"
    [isLoading]="isLoading"
    [url]="'/broadcasts'"
  >
  </app-text-seperator>

  <app-recordings-gallery
    [recordings]="recordings"
    [isLoading]="isLoading"
    [limit]="8"
  >
  </app-recordings-gallery>

  <app-text-seperator
    [text]="'(' + projects.length + ') ' + ('events' | translate) + ' >'"
    [isLink]="true"
    [isLoading]="isLoading"
    [url]="'/events'"
  >
  </app-text-seperator>

  <app-projects-slider
    [projects]="projects"
    [isLoading]="isLoading"
    [limit]="8"
  >
  </app-projects-slider>
</div>

<div class="container">
  <div class="grid grid-auto-cols@lg">
    <div class="col-12 col-6@md">
      <app-text-seperator
        [text]="('shows' | translate) + ' >'"
        [isLoading]="isLoading"
        [isLink]="true"
        [url]="'/shows'"
      ></app-text-seperator>

      <app-shows-gallery
        [isLoading]="isLoading"
        [shows]="shows"
        [limit]="1"
      ></app-shows-gallery>
    </div>
    <div class="col-12 col-6@md scheduleColumn">
      <app-text-seperator
        [text]="('schedule' | translate) + ' >'"
        [isLoading]="isLoading"
        [isLink]="true"
        [url]="'/schedule'"
      ></app-text-seperator>

      <app-schedule-day-list
        [hidden]="isLoading"
        [schedule]="schedule"
      ></app-schedule-day-list>
    </div>
  </div>
</div>

<div class="container"></div>
