<div class="container">
  <app-page-title
    [title]="'broadcasts' | translate"
    [isLink]="true"
    [url]="'/broadcasts'"
  ></app-page-title>
  <div class="recordingSingle" *ngIf="!isLoading">
    <div class="grid grid-gap-md">
      <div class="col-4@sm">
        <div class="recording__image__container">
          <figure class="square">
            <img
              [defaultImage]="defaultImage"
              [lazyLoad]="recording?.image"
              alt="{{ recording?.title }}"
              [attr.data-zoomable]="'data-zoomable'"
            />
          </figure>
        </div>
        <div class="recording__controls">
          <a
            class="btn btn-secondary"
            [style.color]="hex"
            [style.backgroundColor]="rgba"
            href="{{ recording?.audio }}"
            angulartics2On="click"
            angularticsAction="DownloadClick"
            [angularticsCategory]="recording?.slug"
            >{{ 'download' | translate }}</a
          >

          <a
            class="btn btn-secondary"
            [style.color]="hex"
            [style.backgroundColor]="rgba"
            (click)="play()"
            angulartics2On="click"
            angularticsAction="PlayClick"
            [angularticsCategory]="recording?.slug"
            *ngIf="
              !state?.playing ||
              state.currentTrack.currentSrc != this.recording?.audio
            "
            >{{ 'play' | translate }}</a
          >
          <a
            class="btn btn-secondary"
            [style.color]="hex"
            [style.backgroundColor]="rgba"
            (click)="pause()"
            *ngIf="
              state?.playing &&
              state.currentTrack.currentSrc == this.recording?.audio
            "
          >
            {{ 'pause' | translate }}
          </a>
        </div>
      </div>
      <div class="col-8@sm">
        <div class="recording__info__container">
          <div class="recording__tags">
            <span
              class="recording__tags__single"
              [style.backgroundColor]="rgba"
              *ngFor="let genre of recording?.genres"
            >
              <a
                routerLink="/search"
                [style.color]="hex"
                [queryParams]="{
                  'refinementList[genres.title][0]': genre.title
                }"
                >{{ genre.title }}</a
              >
            </span>
          </div>
          <div class="recording__title">
            <h1 [style.color]="hex">{{ recording?.title }}</h1>
          </div>
          <div class="recording__dates">
            {{ recording?.timeStart | date: 'dd.MM.yyyy' }},
            {{ recording?.timeStart | date: 'HH:mm' }} —
            {{ recording?.timeEnd | date: 'HH:mm' }} •
            <a routerLink="/shows/{{ recording?.show.slug }}">
              {{ recording?.show.title }}
            </a>
          </div>
        </div>
        <div class="recording__description__container">
          <p [innerHTML]="recording?.description"></p>
        </div>
        <div class="recording__artists">
          <h4>{{ 'participants' | translate }}:</h4>
          <span *ngFor="let artist of recording?.artists">
            <a
              routerLink="/artists/{{ artist?.slug }}"
              alt="{{ artist?.title }}"
            >
              <img
                class="recording__artists__single__image"
                [defaultImage]="defaultImage"
                [lazyLoad]="artist?.image"
                tooltip="{{ artist?.title }}"
                alt="{{ artist?.title }}"
                [options]="{
                  placement: 'top',
                  'hide-delay': 0,
                  'hide-delay-mobile': 0,
                  'animation-duration': 0
                }"
              />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="recordingSingle" *ngIf="isLoading">
    <div class="grid grid-gap-md">
      <div class="col-4@sm">
        <div class="recording__image__container">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ width: '100%', height: '0', 'padding-top': '100%' }"
          >
          </ngx-skeleton-loader>
        </div>
      </div>
      <div class="col-8@sm">
        <div class="recording__info__container">
          <div class="recording__tags">
            <ngx-skeleton-loader
              count="4"
              [theme]="{
                height: '1.7rem',
                width: '4rem',
                'margin-right': '0.4rem'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="recording__title">
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                height: '1.7rem',
                width: '100%'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="recording__dates">
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                height: '0.8rem',
                width: '100%'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
        <div class="recording__description__container">
          <ngx-skeleton-loader
            count="5"
            [theme]="{
              height: '1rem',
              width: '100%'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div class="recording__artists">
          <h4>{{ 'participants' | translate }}:</h4>
          <ngx-skeleton-loader
            count="5"
            appearance="circle"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>

  <app-text-seperator
    [text]="('moreFrom' | translate) + ' ' + recording?.show.title + ' >'"
    [isLink]="true"
    [url]="'/shows/' + recording?.show.slug"
  >
  </app-text-seperator>

  <app-recordings-gallery
    [recordings]="showRecordings"
    [isLoading]="isLoading"
    [limit]="4"
  >
  </app-recordings-gallery>
</div>
