@import "~theme/_colors.scss";
@import "~theme/_variables.scss";
@import "~theme/_z-index.scss";

:host {

	.sticky {
		position: sticky;
		position: -webkit-sticky;
		top: -1px;
		z-index: map-get($z-index, header);
		-webkit-transform: translateZ(0);
	}
}

::ng-deep {

	ngx-skeleton-loader .loader {
		border-radius: var(--border-radius) !important;
		background: var(--card-border) !important;
	}

	body.theme-light.theme-dark ngx-skeleton-loader .loader.progress:before {
		background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, .2),
			rgba(255, 255, 255, 0)
		) !important;
	}
}
