<div class="container">
  <app-page-title [title]="'broadcasts' | translate"></app-page-title>
</div>

<div class="container" *ngIf="!isLoading">
  <div *ngFor="let year of createRange(years.min, years.max)">
    <div *ngFor="let month of months.slice().reverse(); let monthIndex = index">
      <div *ngIf="getRecordingsByDate(year, 11 - monthIndex).length !== 0">
        <app-text-separator
          [text]="(month | translate) + ' ' + year"
          [isLoading]="isLoading"
          [isLink]="false"
        >
        </app-text-separator>

        <app-recordings-gallery
          [recordings]="getRecordingsByDate(year, 11 - monthIndex)"
          [isLoading]="isLoading"
        >
        </app-recordings-gallery>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isLoading">
  <app-text-separator [isLoading]="isLoading" [isLink]="false">
  </app-text-separator>

  <app-recordings-gallery [isLoading]="isLoading" [limit]="8">
  </app-recordings-gallery>
</div>

<div class="container" *ngIf="!isLoading">
  <div class="paginationWrapper">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <!--
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
        <a routerLink="/broadcasts" [queryParams]="{ page: 1 }" class="page-link">«</a>
      </li>
      -->
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
        <a routerLink="/broadcasts" [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">«</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
        <a routerLink="/broadcasts" [queryParams]="{ page: page }" class="page-link">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
        <a routerLink="/broadcasts" [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">»</a>
      </li>
      <!--
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
        <a routerLink="/broadcasts" [queryParams]="{ page: pager.totalPages }" class="page-link">»</a>
      </li>
      -->
    </ul>
  </div>
</div>
