.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--card-border);

  ul {
    position: relative;
    display: flex;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0;
  }

  ul li {
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
  }

  ul li.page-item {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    transition: var(--transition-time);
  }

  ul li.page-item:hover {
    background: var(--card-border);

    a {
      color: var(--text-color);
    }
  }

  ul li.active {
    background: var(--secondary-color);

    a {
      color: #ffffff;
    }
  }

  ul li.disabled {
    opacity: .2;
    pointer-events: none;
  }
}
