.artistSingle {
	border-bottom: 1px solid var(--card-border);
	padding: 0;
	margin-top: 1rem;
}

.artist__info__container {
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: solid 1px var(--card-border);
	margin-bottom: 1rem;

	.artist__title h1 {
		line-height: 30px;
	}
}

.artist__description__container {
	width: 100%;
	margin-bottom: 2rem;
}

.artist__image__container {
	padding: 0;
	height: auto;
	display: block;
	position: relative;
}

.artist__image__container figure.square {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 100%;
	border: 1px solid var(--card-border);
	border-radius: 50%;
}

.artist__image__container figure.square img {
	position: absolute;
	top: -1px;
	left: -1px;
	height: calc(100% + 2px);
	width: calc(100% + 2px);
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

.medium-zoom-image {
	border-radius: 50%;
}

@media only screen and (min-width: 32rem) {

	.artist__info__container {

		.artist__title h1 {
			line-height: 35px;
		}
	}

	.artist__image__container {
		padding: 0 5rem;
	}
}

@media only screen and (min-width: 48rem) {

	.artistSingle {
		padding: 0 0 2rem;
	}

	.artist__info__container {

		.artist__title h1 {
			line-height: 40px;
		}
	}

	.artist__image__container {
		padding: 0;
	}
}

@media only screen and (min-width: 64rem) {

	.artistSingle {
		border-bottom: 1px solid var(--card-border);
		padding: 0 0 4rem;
	}

	.artist__info__container {

		.artist__title h1 {
			line-height: 45px;
		}
	}
}
