.page__banner {
  height: auto;
  margin: 1rem 0;
  border: 1px solid var(--card-border);
  overflow: hidden;
  border-radius: var(--border-radius);
}

.page__banner__image {
  background-size: cover;
  background-position: center center;
  height: 450px;
}

.page__banner__noise {
  background-image: url("../../../../assets/images/noise.gif");
  background-repeat: repeat;
  background-size: 200px 200px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .08;
}
