/* Circular */

@font-face {
  font-family: "Circular Book";
  src: url("./../assets/fonts/CircularStd-Book.woff2") format("woff2"),
    url("./../assets/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular Medium";
  src: url("./../assets/fonts/CircularStd-Medium.woff2") format("woff2"),
    url("./../assets/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Circular Bold";
  src: url("./../assets/fonts/CircularStd-Bold.woff2") format("woff2"),
    url("./../assets/fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* Trash */

@font-face {
  font-family: "Trash Light";
  src: url("./../assets/fonts/Trash-Light.woff2") format("woff2"),
    url("./../assets/fonts/Trash-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Trash";
  src: url("./../assets/fonts/Trash.woff2") format("woff2"),
    url("./../assets/fonts/Trash.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Trash Medium";
  src: url("./../assets/fonts/Trash-Medium.woff2") format("woff2"),
    url("./../assets/fonts/Trash-Medium.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
