:root {
  --container-width: 1500px;

  --border-radius: 10px;
  --card-border-radius: var(--border-radius);
  --btn-border-radius: var(--border-radius);

  --transition-time: all 0.15s ease-in-out;
}
