/* Project Post Single Entry App */

.projectsEntry {
	margin-top: 2rem;
}

.projectsEntry .projectsEntry__meta {
	margin-bottom: 2rem;
	text-align: center;
}

.projectsEntry .projectsEntry__meta .projectsEntry__date {
	color: var(--text-color-light);
	margin-bottom: 1rem;
}
