<div class="container">
  <app-page-title
    [title]="'events' | translate"
    [isLink]="true"
    [url]="'/events'"
  ></app-page-title>

  <app-page-banner [image]="project?.image"></app-page-banner>

  <div class="grid">
    <div
      class="col-start-1 col-end-13 col-start-3@sm col-end-11@sm col-start-4@md col-end-10@md"
    >
      <div class="projectsEntry">
        <div class="projectsEntry__wrapper">
          <div class="projectsEntry__body">
            <div class="projectsEntry__meta">
              <div class="projectsEntry__date">
                <strong
                  >{{ project?.timeStart | date: 'dd.MM.yyyy' }} —
                  {{ project?.timeEnd | date: 'dd.MM.yyyy' }}</strong
                >
              </div>
              <div class="projectsEntry__title">
                <h1 [style.color]="hex">{{ project?.title }}</h1>
              </div>
            </div>
            <div class="projectsEntry__excerpt">
              <span [innerHTML]="project?.description"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
