/* Project Post Single Entry App */

.projectsEntry {
  margin-top: 2rem;
}

.projectsEntry .projectsEntry__meta {
  margin-bottom: 2rem;
  text-align: center;
}

::ng-deep {

  .projectsEntry .projectsEntry__content p:first-child:first-letter {
    color: var(--text-color);
    float: left;
    font-family: "Times New Roman", serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
}

.projectsEntry .projectsEntry__meta .projectsEntry__date {
  color: var(--text-color-light);
  margin-bottom: 1rem;
}
