<div class="grid">
  <div class="col-12" *ngIf="isLoading == false && projects?.length == 0">
    <app-text-seperator [text]="'noProjectsFound' | translate" [isLink]="false">
    </app-text-seperator>
  </div>
</div>

<div class="projectsList" *ngIf="!isLoading == true">
  <div class="grid">
    <div
      class="col-start-1 col-end-13 col-start-3@sm col-end-11@sm col-start-4@md col-end-10@md"
    >
      <div
        class="projectsEntry"
        *ngFor="let project of projects?.slice(0, limit)"
      >
        <div class="projectsEntry__wrapper">
          <div class="projectsEntry__header">
            <div class="projectsEntry__image__container">
              <a routerLink="/events/event/{{ project?.slug }}">
                <figure class="projectsListBanner">
                  <img
                    [defaultImage]="defaultImage"
                    [lazyLoad]="project?.image"
                    alt="{{ project?.title }}"
                  />
                </figure>
              </a>
            </div>
          </div>
          <div class="projectsEntry__body">
            <div class="projectsEntry__meta">
              <div class="projectsEntry__date">
                <strong>{{ project?.timeStart | date: 'dd.MM.yyyy' }}</strong> —
                {{ project?.timeStart | timeago }}
              </div>
              <div class="projectsEntry__title">
                <a routerLink="/events/event/{{ project?.slug }}">
                  <h3>{{ project?.title }}</h3>
                </a>
              </div>
            </div>
            <div class="projectsEntry__excerpt">
              <span
                [innerHTML]="
                  project?.description.length > 300
                    ? (project?.description | slice: 0:300) + '...'
                    : project?.description
                "
              ></span>
            </div>
            <div class="projectsEntry__readMore">
              <a
                class="btn btn-secondary"
                routerLink="/events/event/{{ project?.slug }}"
                >{{ 'readMore' | translate }} ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
