<footer>
  <div class="container">
    <div class="footer__wrapper">
      <div class="grid grid-gap-md">
        <div class="col-12 col-6@md col-6@lg">
          <h5>↳ {{ 'appTitle' | translate }}</h5>
          <p>
            Radio Rasclat is a non-profit community radio station based in
            Kassel.
          </p>
          <p>
            {{ 'email' | translate }}:
            <a
              href="mailto:office@radio-rasclat.com"
              title="E-Mail an office@radio-rasclat.com"
            >
              office@radio-rasclat.com </a
            ><br />
            {{ 'internet' | translate }}:
            <a href="https://radio-rasclat.com/" title="Radio Rasclat">
              radio-rasclat.com
            </a>
          </p>
        </div>
        <div class="col-12 col-6@md col-3@lg">
          <h5>↳ {{ 'organization' | translate }}</h5>
          <ul>
            <li>
              <a routerLink="/about" routerLinkActive="active">
                {{ 'about' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="/events" routerLinkActive="active">
                {{ 'events' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="mailto:office@radio-rasclat.com">
                {{ 'contact' | translate }}
              </a>
            </li>
            <li>
              <a href="mailto:office@radio-rasclat.com">
                {{ 'participate' | translate }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-6@md col-3@lg">
          <h5>↳ {{ 'fromOurBlog' | translate }}</h5>
          <div class="blog__list" *ngIf="!isLoading">
            <div class="blog__list__entry" *ngFor="let post of blogPosts | slice:0:4; let i=index">
              <a routerLink="/blog/post/{{ post?.slug }}">
                {{ post?.title }}
              </a>
            </div>
          </div>
          <div class="blog__list" *ngIf="isLoading">
            <div class="blog__list__entry">
              <ngx-skeleton-loader count="4"></ngx-skeleton-loader>
            </div>
          </div>
          <div class="blog__list" *ngIf="!isLoading && blogPosts?.length == 0">
            {{ 'noBlogPostsFound' | translate }}
          </div>
          <div
            class="blog__list__readMore"
            *ngIf="!isLoading && blogPosts?.length > 0"
          >
            <a routerLink="/blog">{{ 'readMore' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footnote__wrapper">
      <div class="grid grid-gap-md">
        <div class="col-12">
          <ul>
            <li>
              <a routerLink="/imprint" routerLinkActive="active">
                {{ 'imprint' | translate }}
              </a>
            </li>
            <li>
              <a routerLink="/privacy" routerLinkActive="active">
                {{ 'privacy' | translate }}
              </a>
            </li>
            <li>
              <a
                href="https://status.radio-rasclat.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'status' | translate }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12">
          &copy; {{ year }} {{ 'appTitle' | translate }} e.V.i.G.
        </div>
      </div>
    </div>
  </div>
</footer>
