<footer>
  <div class="container">
    <div class="grid grid-gap-md">
      <div class="col-12 col-3@md">
        <h5>Radio Rasclat</h5>
        Community and non-profit radio station in Kassel.
      </div>
      <div class="col-12 col-3@md">
        <h5>Links</h5>
      </div>
      <div class="col-12 col-3@md">
        <h5>Organization</h5>
      </div>
      <div class="col-12 col-3@md">
        <h5>{{ 'fromOurBlog' | translate }}</h5>
        <div class="blog__list" *ngIf="!isLoading">
          <div class="blog__list__entry" *ngFor="let post of blogPosts">
            <a routerLink="/blog/post/{{ post?.slug }}">
              {{ post?.title }}
            </a>
          </div>
        </div>
        <div class="blog__list" *ngIf="isLoading">
          <div class="blog__list__entry">
            <ngx-skeleton-loader count="4"> </ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-gap-md">
      <div class="col-12">Terms Privacy Status Security</div>
    </div>
  </div>
</footer>
