/* Header */

header {
  border-bottom: 1px solid var(--card-border);
  position: -webkit-sticky;
  position: sticky;
  font-family: "Adieu", sans-serif;
  width: 100%;
  top: -1px;
  background: var(--card-background);
  backdrop-filter: blur(20px);

  .headerWrapper {
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    max-width: 100%;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 65px;
    -webkit-box-pack: justify;
    justify-content: space-between;

    .logo {
      min-width: 42px;
      height: 42px;
      transition: all .12s ease-in-out 0s;
      transform-origin: center center;
    }

    .searchForm {
      -webkit-box-align: stretch;
      align-items: stretch;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      max-width: 100%;
      -webkit-box-flex: 1;

      .searchForm__inner {
        display: flex;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-direction: column;

        .searchForm__form {
          flex-direction: row;
          -webkit-box-flex: 1;
          flex-grow: 1;
          -webkit-box-align: stretch;
          align-items: stretch;
          border: 1px solid transparent;
          background: var(--card-border);
          height: 40px;
          padding: 0 8px 0 16px;
          border-radius: 24px;
          transition: all .12s ease-in-out 0s;
          display: flex;

          .searchForm__form__iconContainer {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            flex-basis: 20px;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;

            .searchForm__form__iconWrapper {
              color: var(--text-color);
            }
          }

          .searchForm__form__input {
            margin: 0 0 0 8px;
            -webkit-box-align: stretch;
            align-items: stretch;
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            -webkit-box-flex: 1;
            -webkit-box-pack: center;
            justify-content: center;

            input {
              background: transparent;
              color: var(--text-color);
              font-weight: 500;
              font-family: inherit;
              overflow: hidden;
              outline: none;
              width: 100%;
              border-width: 0;
            }

            ::placeholder {
              color: var(--text-color);
              opacity: 1;
            }
          }
        }
      }
    }

    .navigation {
      display: flex;
      flex: 0 0 auto;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      -webkit-box-pack: center;
      justify-content: center;

      .navigationSection {
        -webkit-box-align: stretch;
        align-items: stretch;
        display: flex;
        flex-basis: auto;
        flex-shrink: 0;
        flex-direction: row;

        .navigationItem {
          margin: 0 1rem 0 0;
          -webkit-box-align: stretch;
          align-items: stretch;
          display: flex;
          flex-basis: auto;
          flex-direction: column;
          flex-shrink: 0;

          .navigationItemLink {
            display: flex;
            flex-basis: auto;
            flex-shrink: 0;
            max-width: 100%;
            -webkit-box-align: center;
            align-items: center;
            flex-direction: row;

            a {
              transition: all .12s ease-in-out 0s;
              height: 40px;
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              flex-direction: row;
              cursor: pointer;
            }

            .navigationItemBadge {
              margin: 0 0 0 8px;
              -webkit-box-align: stretch;
              align-items: stretch;
              display: flex;
              flex-basis: auto;
              flex-direction: column;
              flex-shrink: 0;
            }

            .navigationItemDropdownIndicator {
              margin: 0 0 0 8px;
              -webkit-box-align: stretch;
              align-items: stretch;
              display: flex;
              flex-basis: auto;
              flex-direction: column;
              flex-shrink: 0;
            }
          }

          .navigationDropdownWrapper {
            display: flex;
            flex-direction: column;
            -webkit-box-flex: 1;
            flex-grow: 1;
            width: 200px;

            .navigationDropdownWrapper__inner {
              position: relative;

              a {
                height: auto;
                display: flex;
                text-align: left;
                font-family: "Circular Book",
                  "Neue Haas Grotesk Text",
                  -apple-system,
                  BlinkMacSystemFont,
                  "Segoe UI",
                  Roboto,
                  Oxygen,
                  Ubuntu,
                  Cantarell,
                  "Open Sans",
                  "Helvetica Neue",
                  sans-serif;
                font-weight: bold;
                font-size: 16px;
                padding: .5rem .5rem;
                margin: 0 .5rem;
                transition: var(--transition-time);
                border-radius: 5px;
              }

              a:hover {
                background: var(--card-background-hover);
                color: var(--text-color);
              }
            }
          }
        }

        .navigationItem:last-child {
          margin: 0;
        }
      }

      .navigationSectionDivider {
        height: 24px;
        width: 1px;
        background: var(--card-border);
        margin: 0 18px;
      }
    }
  }

  .headerWrapper > :not(:last-child) {
    margin-right: 1.5rem;
  }
}

/* header {
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
  font-family: "Trash", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: -1px;
}

header .grid {
  align-items: center;
  height: 50px;
  margin: 0 auto;
}

header a {
  text-decoration: none;
}

header .logo {
  margin-top: 3px;
}

header svg-icon.svg-icon-menu,
svg-icon.svg-icon-menuClose {
  width: 15px;
  height: 10px;
}

header a.menu {
  cursor: pointer;
  text-transform: uppercase;
}

header .logo img {
  width: 35px;
}

@media only screen and (min-width: 32rem) {

  header svg-icon.svg-icon-menu,
  svg-icon.svg-icon-menuClose {
    width: 18px;
    height: 12px;
  }
}

@media only screen and (min-width: 48rem) {

  header .logo img {
    width: 40px;
    transition: all .15s;
  }

  header .logo img:hover {
    transform: rotate(-5deg);
  }

  header svg-icon.svg-icon-menu,
  svg-icon.svg-icon-menuClose {
    width: 19px;
    height: 12px;
  }
}

@media only screen and (min-width: 64rem) {

  header svg-icon.svg-icon-menu,
  svg-icon.svg-icon-menuClose {
    width: 21px;
    height: 13px;
  }
}

@media only screen and (min-width: 80rem) {

  header svg-icon.svg-icon-menu,
  svg-icon.svg-icon-menuClose {
    width: 22px;
    height: 14px;
  }
}

/* Navigation */

/*

nav {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 50px;
}

nav.navVisible {
  position: absolute;
  top: 51px;
}

.infoBanner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
}

.infoBanner .grid {
  align-items: center;
  height: auto;
  margin: 0 auto;
}

.navigation {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
  line-height: 21px;
  max-height: 50vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navigation::-webkit-scrollbar {
  display: none;
}

.navigation a.active {
  color: var(--secondary-color);
}

.navigation ul {
  margin-bottom: 1rem;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  margin: 0;
}

.navigation h5 {
  margin-bottom: .7rem;
  display: block;
}

.navigation .grid {
  align-items: stretch;
  height: auto;
  margin: 0 auto;
}

.navigation svg-icon {
  width: 12px;
  height: 17px;
}

@media only screen and (min-width: 32rem) {

  .navigation svg-icon {
    width: 13px;
  }
}

@media only screen and (min-width: 48rem) {

  .navigation svg-icon {
    width: 14px;
  }

  .navigation {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    line-height: 24px;
  }
}

@media only screen and (min-width: 64rem) {

  .navigation {
    line-height: 28px;
  }

  .navigation svg-icon {
    width: 16px;
  }
}

@media only screen and (min-width: 80rem) {

  .navigation {
    line-height: 29px;
  }

  .navigation svg-icon {
    width: 17px;
  }
}

*/

/* Language Picker */

/*
.languagePicker {
  position: absolute;
  background: var(--card-background);
  padding: .3rem 1rem;
  border: 1px solid var(--card-border);
  border-radius: var(--card-border-radius);
  margin-top: 10px;
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.languagePicker__item.currentLanguage {
  border-right: 1px solid var(--card-border);
  padding-right: 1rem;
  width: auto;
  min-width: 30px;
  text-align: center;
}

.languagePicker__item {
  margin-right: 1rem;
}

.languagePicker__item:last-child {
  margin-right: 0;
}

.languagePicker a {
  text-decoration: none;
}

.languagePicker__item.language a:hover {
  text-decoration: underline;
}

 */
