/* Header */

header {
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
  font-family: "Trash", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: -1px;
}

header .col-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .mainHeader {
  display: flex;
  align-items: center;
}

header .mainHeader .mainLogo {
  display: flex;
  align-items: center;
}

header .mainHeader .mainLogo img {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .mainHeader .mainNavigation {
  display: flex;
  align-items: center;
}

header svg-icon.svg-icon-menu,
svg-icon.svg-icon-menuClose {
  width: 15px;
  height: 10px;
}

header .mainHeader .mainNavigation a.nav-item {
  display: none;
}

header .mainHeader .mainNavigation a.nav-item-menu {
  display: block;
}

header .mainHeader .mainNavigation a .navLinkButton {
  display: flex;
  position: relative;
  padding: .6rem 1rem;
  margin: .5rem .5rem .5rem 0;
  border-radius: var(--border-radius);
  font-family: "Trash Medium", serif;
  transition: var(--transition-time);
  justify-content: center;
  align-items: center;
}

header .mainHeader .mainNavigation a.active .navLinkButton {
  background: var(--secondary-color-light);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color-light);
}

@media only screen and (min-width: 32rem) {

  header svg-icon.svg-icon-menu,
  svg-icon.svg-icon-menuClose {
    width: 18px;
    height: 12px;
  }
}

@media only screen and (min-width: 48rem) {

  header .mainHeader .mainLogo {
    margin-right: 1rem;
  }

  header .mainHeader .mainLogo img {
    width: 40px;
    transition: all .15s;
  }

  header .mainHeader .mainLogo img:hover {
    transform: rotate(-5deg);
  }

  header svg-icon.svg-icon-menu,
  svg-icon.svg-icon-menuClose {
    width: 19px;
    height: 12px;
  }

  header svg-icon.svg-icon-search {
    width: 27px;
    height: 18px;
  }

  header .mainHeader .mainNavigation a.nav-item {
    display: block;
  }

  header .mainHeader .mainNavigation a.nav-item-search {
    display: none;
  }

  header .mainHeader .mainNavigation a .navLinkButton {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid var(--card-background-hover);
    min-height: 2.1em;
  }

  header .mainHeader .mainNavigation a .navLinkButton:hover {
    background: var(--card-background-hover);
    border: 2px solid var(--card-background-hover);
  }
}

@media only screen and (min-width: 64rem) {

  header svg-icon.svg-icon-menu,
  svg-icon.svg-icon-menuClose {
    width: 21px;
    height: 13px;
  }

  header svg-icon.svg-icon-search {
    width: 29px;
    height: 19px;
  }

  header .mainHeader .mainNavigation a.nav-item-search {
    display: block;
  }
}

@media only screen and (min-width: 80rem) {

  header svg-icon.svg-icon-menu,
  svg-icon.svg-icon-menuClose {
    width: 22px;
    height: 14px;
  }

  header svg-icon.svg-icon-search {
    width: 30px;
    height: 20px;
  }
}

/* Navigation */

nav {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 60px;
}

nav.navVisible {
  position: absolute;
  top: 60px;
}

.infoBanner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
}

.infoBanner .grid {
  align-items: center;
  height: auto;
  margin: 0 auto;
}

.navigation {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
  line-height: 21px;
  max-height: 50vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navigation::-webkit-scrollbar {
  display: none;
}

.navigation a.active {
  color: var(--secondary-color);
}

.navigation ul {
  margin-bottom: 1rem;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  margin: 0;
}

.navigation h5 {
  margin-bottom: .7rem;
  display: block;
}

.navigation .grid {
  align-items: stretch;
  height: auto;
  margin: 0 auto;
}

.navigation svg-icon {
  width: 12px;
  height: 17px;
}

@media only screen and (min-width: 32rem) {

  .navigation svg-icon {
    width: 13px;
  }
}

@media only screen and (min-width: 48rem) {

  .navigation svg-icon {
    width: 14px;
  }

  .navigation {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    line-height: 24px;
  }
}

@media only screen and (min-width: 64rem) {

  .navigation {
    line-height: 28px;
  }

  .navigation svg-icon {
    width: 16px;
  }
}

@media only screen and (min-width: 80rem) {

  .navigation {
    line-height: 29px;
  }

  .navigation svg-icon {
    width: 17px;
  }
}

/* Language Picker */

.languagePicker {
  position: absolute;
  background: var(--card-background);
  padding: .3rem 1rem;
  border: 1px solid var(--card-border);
  border-radius: var(--card-border-radius);
  margin-top: 10px;
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.languagePicker__item.currentLanguage {
  border-right: 1px solid var(--card-border);
  padding-right: 1rem;
  width: auto;
  min-width: 30px;
  text-align: center;
}

.languagePicker__item {
  margin-right: 1rem;
}

.languagePicker__item:last-child {
  margin-right: 0;
}

.languagePicker a {
  text-decoration: none;
}

.languagePicker__item.language a:hover {
  text-decoration: underline;
}

.statusCircle {
  background: var(--text-color-light);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
  top: -1px;
  position: relative;

  &.green {
    background: #3bd671;
  }

  &.yellow {
    background: #f29030;
  }

  &.red {
    background: #df484a;
  }
}
