<header>
  <div class="container">
    <div class="grid grid-gap-xs">
      <div class="col-5">
        <app-live></app-live>
      </div>
      <div class="col-2 text-center">
        <div class="logo animate__animated animate__rotateIn">
          <a routerLink="/" (click)="closeNav()">
            <img
              src="../../../../assets/svg/logo.svg"
              alt="Radio Rasclat Logo"
            />
          </a>
        </div>
      </div>
      <div class="col-5 text-right">
        <a (click)="toggleNav()" class="menu">
          {{ 'menu' | translate }}
          <svg-icon *ngIf="!isNavVisible" key="menu"></svg-icon>
          <svg-icon *ngIf="isNavVisible" key="menuClose"></svg-icon>
        </a>
      </div>
    </div>
  </div>
</header>
<nav
  *ngIf="isNavVisible"
  [class.navVisible]="isNavVisible"
  class="animate__animated animate__fadeIn animate__faster"
>
  <div class="infoBanner">
    <div class="container">
      <div class="grid grid-gap-xs">
        <div class="col-2">
          {{ now | date: 'HH:mm' }}
        </div>
        <div class="col-8 text-center">
          <span [innerHTML]="'infoBannerText' | translate"></span>
        </div>
        <div class="col-2 text-right">
          <app-dark-mode-toggle></app-dark-mode-toggle>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <div class="container">
      <div class="grid grid-gap-xs">
        <div class="col-6 col-3@md">
          <h5>↳ {{ 'listen' | translate }}</h5>
          <ul>
            <li>
              <a routerLink="/" (click)="toggleNav()">
                {{ 'home' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/broadcasts"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'broadcasts' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/shows"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'shows' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/schedule"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'schedule' | translate }}
              </a>
            </li>
            <li>
              <a
                href="https://radio-rasclat.chatango.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'chat' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
            <li>
              <a
                routerLink="/search"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'search' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                href="https://apps.apple.com/us/app/radio-rasclat/id1499269866"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'iosApp' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
            <li>
              <a
                href="https://soundcloud.com/radiorasclat"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'soundcloud' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ {{ 'appTitle' | translate }}</h5>
          <ul>
            <li>
              <a
                routerLink="/artists"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'artists' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/blog"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'blog' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/events"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'events' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                routerLink="/about"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'about' | translate }}
              </a>
            </li>
            <!-- <li>
              <a
                routerLink="/contact"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'contact' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/participate"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'participate' | translate }}
              </a>
            </li> -->
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ {{ 'openSource' | translate }}</h5>
          <ul>
            <li>
              <a
                href="https://github.com/RadioRasclat/radio-rasclat-web"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'contributeCode' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
            <li>
              <a
                href="https://translate.radio-rasclat.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'contributeTranslations' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
            <li>
              <a
                routerLink="/licenses"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'thirdPartyLicenses' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                routerLink="/changelog"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'changelog' | translate }}
              </a>
            </li>
            <li>
              <a
                href="https://status.radio-rasclat.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'status' | translate }}
                <span
                  class="statusCircle"
                  [ngClass]="{
                    green: status === 2,
                    yellow: status === 1,
                    red: status === 0
                  }"
                >
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ {{ 'internal' | translate }}</h5>
          <ul>
            <li>
              <a
                routerLink="/imprint"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'imprint' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/privacy"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'privacy' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/cookie-policy"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'cookiePolicy' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="javascript: Cookiebot.renew()">
                {{ 'cookiePreferences' | translate }}
                <svg-icon key="dropdown"></svg-icon>
              </a>
            </li>
            <li>
              <a (click)="openModal('languageSettings')">
                {{ 'languageSettings' | translate }}
                <svg-icon key="dropdown"></svg-icon>
              </a>
              <modal id="languageSettings">
                <h1>{{ 'languageSettings' | translate }}</h1>
                <hr />
                <app-language-select></app-language-select>
                <hr />
                <a
                  class="btn btn-secondary"
                  (click)="closeModal('languageSettings')"
                >
                  {{ 'close' | translate }}
                </a>
              </modal>
            </li>
          </ul>
          <app-social-icons></app-social-icons>
        </div>
      </div>
    </div>
  </div>
</nav>
