<header>
  <div class="container">
    <div class="headerWrapper">
      <div class="logo">
        <a routerLink="/" (click)="closeNav()">
          <img
              src="../../../../assets/svg/logo.svg"
              alt="Radio Rasclat Logo"
              class="animate__animated animate__rotateIn"
          />
        </a>
      </div>
      <div class="navigation">
        <div class="navigationSection">
          <div class="navigationItem">
            <div class="navigationItemLink">
              <a routerLink="/broadcasts">
                {{ 'broadcasts' | translate }}
              </a>
            </div>
          </div>
          <div class="navigationItem">
            <div class="navigationItemLink">
              <a routerLink="/shows">
                {{ 'shows' | translate }}
              </a>
            </div>
          </div>
          <div class="navigationItem">
            <div class="navigationItemLink">
              <a routerLink="/schedule">
                {{ 'schedule' | translate }}
              </a>
              <div class="navigationItemBadge">
                <svg width="30" height="14" viewBox="0 0 30 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" width="29" height="14" rx="7" fill="url(#paint0_radial)"></rect>
                  <path d="M11.044 10V4.328H9.78V7.776L7.652 4.328H6.116V10H7.372V6.272L9.708 10H11.044ZM15.8644 10V8.8H13.5284V7.712H15.6404V6.6H13.5284V5.52H15.8564V4.328H12.2644V10H15.8644ZM22.3676 7.968L21.1916 4.328H19.8956L18.7196 7.96L17.7836 4.328H16.4396L17.9836 10H19.3116L20.5276 6.24L21.7356 10H23.0396L24.5836 4.328H23.2876L22.3676 7.968Z" fill="white"></path>
                  <defs>
                    <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-10.6167 -5.6875) rotate(24.662) scale(36.6973 39.3316)">
                      <stop stop-color="#0C50FF"></stop>
                      <stop offset="0.557292" stop-color="#5B9DFF"></stop><stop offset="1" stop-color="#FF74F1"></stop>
                    </radialGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="navigationSectionDivider"></div>
        <div class="navigationSection">
          <div class="navigationItem">
            <div class="navigationItemLink">
              <a
                  [ngxTippy]="tippyTemplate"
                  tippyName="content"
                  [tippyProps]="tippyProps"
              >
                More
                <div class="navigationItemDropdownIndicator">
                  <svg viewBox="0 0 11 7" fill="none" width="10" height="10" xlmns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.00146 6.41431L9.70857 1.7072C10.0991 1.31668 10.0991 0.683511 9.70857 0.292986C9.31805 -0.097538 8.68488 -0.097538 8.29436 0.292986L5.00146 3.58588L1.70857 0.292986C1.31805 -0.097538 0.684882 -0.097538 0.294358 0.292986C-0.0961662 0.68351 -0.0961662 1.31668 0.294358 1.7072L5.00146 6.41431Z" fill="currentColor"></path>
                  </svg>
                </div>
              </a>
              <div #tippyTemplate>
                <h4>Caption</h4>
                <p>Some content</p>
                <button>Action</button>
                ...
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="searchForm">
        <div class="searchForm__inner" >
          <form class="searchForm__form">
            <div class="searchForm__form__iconContainer">
              <span class="searchForm__form__iconWrapper">
                <div class="searchForm__form__icon">
                  <svg viewBox="0 0 16 16" fill="none" width="14" height="14" xlmns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 7C2 4.23858 4.23858 2 7 2C9.76142 2 12 4.23858 12 7C12 9.76142 9.76142 12 7 12C4.23858 12 2 9.76142 2 7ZM7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C8.57591 14 10.0302 13.4792 11.2001 12.6004C11.2281 12.6376 11.259 12.6733 11.2929 12.7071L14.2929 15.7071C14.6834 16.0976 15.3166 16.0976 15.7071 15.7071C16.0976 15.3166 16.0976 14.6834 15.7071 14.2929L12.7071 11.2929C12.6733 11.259 12.6376 11.2281 12.6004 11.2001C13.4792 10.0302 14 8.57591 14 7C14 3.13401 10.866 0 7 0Z" fill="currentColor"></path>
                  </svg>
                </div>
              </span>
            </div>
            <div class="searchForm__form__input">
              <input inputmode="search" placeholder="Search" type="text" class="sc-dIsAE sc-iNiQeE dWzdfH fxTqzx" value="" style="width: 100%; font-size: 15px;">
            </div>
            <div class="sc-bdnylx sc-gtssRu jMhaxE ezYqQd">
              <button type="button" class="sc-pNWxx sc-jrsJCI sc-jffIyK dryRrI fLZIfI gXNbVF">
                <svg viewBox="0 0 16 16" fill="none" width="16" height="16" xlmns="http://www.w3.org/2000/svg">
                  <path d="M4 12L12 4" stroke="currentColor" stroke-width="2"></path><path d="M12 12L4 4" stroke="currentColor" stroke-width="2"></path>
                </svg>
              </button>
            </div>
            <input type="submit" hidden="" class="sc-dIsAE dWzdfH" value="Search">
          </form>
        </div>
      </div>
      <div class="sc-bdnylx sc-gtssRu jMhaxE bPmlbc">
        <div class="sc-bdnylx sc-gtssRu sc-jtiWoB jMhaxE bPmlbc iLgwSY">
          <button class="sc-pNWxx sc-jrsJCI sc-kEqYlL dryRrI fLZIfI TLuYz sc-crzoUp dsVVmq" type="button" data-marker="root/appPage/header/createCollectibleButton">
            Create
          </button>
          <button class="sc-pNWxx sc-jrsJCI sc-kEqYlL dryRrI fLZIfI TLuYz sc-crzoUp blmYBe" type="button">
            Connect wallet
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<header>
  <div class="container">
    <div class="grid grid-gap-xs">
      <div class="col-5">
        <app-live></app-live>
      </div>
      <div class="col-2 text-center">
        <div class="logo animate__animated animate__rotateIn">

        </div>
      </div>
      <div class="col-5 text-right">
        <a (click)="toggleNav()" class="menu">
          {{ 'menu' | translate }}
          <svg-icon *ngIf="!isNavVisible" key="menu"></svg-icon>
          <svg-icon *ngIf="isNavVisible" key="menuClose"></svg-icon>
        </a>
      </div>
    </div>
  </div>
</header>
<nav
  *ngIf="isNavVisible"
  [class.navVisible]="isNavVisible"
  class="animate__animated animate__fadeIn animate__faster"
>
  <div class="infoBanner">
    <div class="container">
      <div class="grid grid-gap-xs">
        <div class="col-2">
          {{ now | date: 'HH:mm' }}
        </div>
        <div class="col-8 text-center">
          <span [innerHTML]="'infoBannerText' | translate"></span>
        </div>
        <div class="col-2 text-right">
          <app-dark-mode-toggle></app-dark-mode-toggle>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <div class="container">
      <div class="grid grid-gap-xs">
        <div class="col-6 col-3@md">
          <h5>↳ {{ 'listen' | translate }}</h5>
          <ul>
            <li>
              <a routerLink="/" (click)="toggleNav()">
                {{ 'home' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/broadcasts"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'broadcasts' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/shows"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'shows' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/schedule"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'schedule' | translate }}
              </a>
            </li>
            <li>
              <a
                href="https://radio-rasclat.chatango.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'chat' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
            <li>
              <a
                routerLink="/search"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'search' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                href="https://apps.apple.com/us/app/radio-rasclat/id1499269866"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'iosApp' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
            <li>
              <a
                href="https://soundcloud.com/radiorasclat"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'soundcloud' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ {{ 'appTitle' | translate }}</h5>
          <ul>
            <li>
              <a
                routerLink="/artists"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'artists' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/blog"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'blog' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/events"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'events' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                routerLink="/about"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'about' | translate }}
              </a>
            </li>
            <!-- <li>
              <a
                routerLink="/contact"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'contact' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/participate"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'participate' | translate }}
              </a>
            </li> -->
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ {{ 'openSource' | translate }}</h5>
          <ul>
            <li>
              <a
                href="https://github.com/RadioRasclat/radio-rasclat-web"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'contributeCode' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
            <li>
              <a
                href="https://translate.radio-rasclat.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'contributeTranslations' | translate }}
                <svg-icon key="external"></svg-icon>
              </a>
            </li>
            <li>
              <a
                routerLink="/licenses"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'thirdPartyLicenses' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                routerLink="/changelog"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'changelog' | translate }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ {{ 'internal' | translate }}</h5>
          <ul>
            <li>
              <a
                routerLink="/imprint"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'imprint' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/privacy"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'privacy' | translate }}
              </a>
            </li>
            <li>
              <a
                routerLink="/cookie-policy"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                {{ 'cookiePolicy' | translate }}
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a (click)="openCookieManager()">
                {{ 'cookiePreferences' | translate }}
                <svg-icon key="dropdown"></svg-icon>
              </a>
            </li>
            <li>
              <a (click)="openModal('languageSettings')">
                {{ 'languageSettings' | translate }}
                <svg-icon key="dropdown"></svg-icon>
              </a>
              <modal id="languageSettings">
                <h1>{{ 'languageSettings' | translate }}</h1>
                <hr />
                <app-language-select></app-language-select>
                <hr />
                <a
                  class="btn btn-secondary"
                  (click)="closeModal('languageSettings')"
                >
                  {{ 'close' | translate }}
                </a>
              </modal>
            </li>
          </ul>
          <hr class="fade-right" />
          <app-social-icons></app-social-icons>
        </div>
      </div>
    </div>
  </div>
</nav>
