<div class="grid" *ngIf="!isLoading">
  <div class="col-12">
    <div
      class="textSeperator"
      *ngIf="!isLink"
      [class.active]="active === true"
      [class.border-left]="border === true"
    >
      {{ text }}
    </div>
    <div
      class="textSeperator"
      *ngIf="isLink"
      [class.active]="active === true"
      [class.border-left]="border === true"
    >
      <a routerLink="{{ url }}">
        {{ text }}
      </a>
    </div>
  </div>
</div>
<div class="grid" *ngIf="isLoading">
  <div class="col-12">
    <div class="textSeperator">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          height: '2.3rem',
          width: '20rem',
          margin: '0'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
