<div class="container">
  <app-page-title [title]="'changelog' | translate"></app-page-title>

  <div class="changelog">
    <div class="appSelect">
      <div class="grid">
        <div
          class="col-start-1 col-end-13 col-start-2@sm col-end-12@sm col-start-4@md col-end-10@md"
        >
          <div class="grid grid-gap-md text-center">
            <div class="col-4">
              <div class="app active">
                <div class="appImage">
                  <img
                    src="../../../assets/images/radio-rasclat-logo.png"
                    alt="Radio Rasclat Web"
                  />
                </div>
                <div class="appName">Radio Rasclat Web<br /></div>
                <div class="appBadge">
                  <img
                    src="https://img.shields.io/github/package-json/v/RadioRasclat/radio-rasclat-web?color=%236157f7&label="
                    alt="Radio Rasclat Web"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="app">
                <div class="appImage">
                  <img
                    src="../../../assets/images/radio-rasclat-logo-ios.png"
                    alt="Radio Rasclat iOS"
                  />
                </div>
                <div class="appName">Radio Rasclat iOS<br /></div>
                <div class="appBadge">
                  <img
                    src="https://img.shields.io/itunes/v/1499269866?color=%236157f7&label="
                    alt="Radio Rasclat iOS"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="app">
                <div class="appImage">
                  <img
                    src="../../../assets/images/radio-rasclat-server.png"
                    alt="Radio Rasclat Server"
                  />
                </div>
                <div class="appName">Radio Rasclat Server<br /></div>
                <div class="appBadge">
                  <img
                    src="https://img.shields.io/github/package-json/v/RadioRasclat/radio-rasclat-server?color=%236157f7&label="
                    alt="Radio Rasclat Server"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="appHeadline">
      <div class="grid text-center">
        <div class="col-12">
          <h3>Web-App (v{{ version }})</h3>
        </div>
      </div>
    </div>
    <div class="bugsNotice">
      <div class="grid text-center">
        <div class="col-12">
          <p [innerHTML]="'reportBugs' | translate"></p>
        </div>
      </div>
    </div>
    <div class="appChangelog">
      <div class="grid">
        <div
          class="col-start-1 col-end-13 col-start-3@sm col-end-11@sm col-start-4@md col-end-10@md"
        >
          <div class="changelogList">
            <div class="changelogItem">
              <div class="changelogItemHeader">
                <div class="logTime">03.03.2021</div>
                <h3 class="title">
                  <a
                    href="https://github.com/RadioRasclat/radio-rasclat-web/releases/tag/4.1.0"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Radio Rasclat Web (v4.1.0)
                    <svg-icon key="external"></svg-icon
                  ></a>
                </h3>
              </div>
              <div class="changes">
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_new">New</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Adds a new artists section on our website where you can
                        find the corresponding recordings to their belonging
                        artists.
                      </li>
                      <li>
                        Adds a new top banner, which will be hidden for 7 days
                        after closure, to inform users about new product
                        updates.
                      </li>
                      <li>
                        There are now paragraphs supported on our schedule page.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_changes">Changes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>Update translation strings.</li>
                      <li>Move from Travis-CI to Github Actions.</li>
                      <li>
                        Moves the repository to our Radio Rasclat Github
                        organization.
                      </li>
                      <li>
                        Now, the deployment process will only be triggered if a
                        Github release was created.
                      </li>
                      <li>
                        We have changed our primary color to match our iOS app.
                      </li>
                      <li>
                        The livestream can now also be started via the current
                        slide (which represents the livestream).
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_fixed">Bug-Fixes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Majority / singular string length fix on artists and
                        shows single.
                      </li>
                      <li>
                        The navigation can now be scrolled on mobile, for a more
                        user-friendly experience.
                      </li>
                      <li>
                        Fixes a bug on our broadcasts page where recent
                        recordings were displayed at the bottom of the page. We
                        have moved them to the top where they belong.
                      </li>
                      <li>
                        Objects such as the player, dialog boxes, pop-ups, and
                        navigation are now neatly placed in a Z-Stack SCSS stack
                        system. Now the different components no longer overlap.
                      </li>
                      <li>
                        Fixes a bug where the whole start page could not be
                        loaded completely from time to time.
                      </li>
                      <li>Overall UI improvements.</li>
                      <li>
                        The most prominent color of an image was applied to the
                        buttons and the title. The function broke, but now works
                        again since requests are now redirected through our own
                        CORS proxy server.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="changelogItem">
              <div class="changelogItemHeader">
                <div class="logTime">23.11.2020</div>
                <h3 class="title">
                  <a
                    href="https://github.com/RadioRasclat/radio-rasclat-web/releases/tag/4.0.4"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Radio Rasclat Web (v4.0.4)
                    <svg-icon key="external"></svg-icon
                  ></a>
                </h3>
              </div>
              <div class="changes">
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_new">New</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Implements a brand new GDPR / DSGVO compliance cookie
                        management solution including a cookie policy page.
                      </li>
                      <li>
                        Adds a new meta description for search engine crawlers.
                      </li>
                      <li>
                        Adds a system status indicator in navigation section to
                        have a quick look if all components are running.
                      </li>
                      <li>Reusable modal service.</li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_changes">Changes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>Update meta theme color for installed web apps.</li>
                      <li>Redesigned 'About' page including partner logos.</li>
                      <li>
                        The language selector has been entirely rewritten and
                        now supports over 30+ new languages.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="changelogItem">
              <div class="changelogItemHeader">
                <div class="logTime">11.09.2020</div>
                <h3 class="title">
                  <a
                    href="https://github.com/RadioRasclat/radio-rasclat-web/releases/tag/4.0.3"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Radio Rasclat Web (v4.0.3)
                    <svg-icon key="external"></svg-icon
                  ></a>
                </h3>
              </div>
              <div class="changes">
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_new">New</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Image thumbnails on shows and recordings can now be
                        zoomed to have a better look on the artwork.
                      </li>
                      <li>
                        Adds icons in the header for our social media pages.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_changes">Changes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Redesigned 'Schedule' page which is now more responsive,
                        shows the date of the day, highlights today's day and
                        gives the more information about the scheduled show via
                        a modal popup.
                      </li>
                      <li>Updated translations strings.</li>
                      <li>We updated the info texts on our 'About' page.</li>
                      <li>
                        The "recordings-list.component" (like in 'Search') makes
                        now use of flexbox.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_fixed">Bug-Fixes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Fixes an error where the images on the blog and project
                        page weren't loaded on the first click.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="changelogItem">
              <div class="changelogItemHeader">
                <div class="logTime">29.08.2020</div>
                <h3 class="title">
                  <a
                    href="https://github.com/RadioRasclat/radio-rasclat-web/releases/tag/4.0.2"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Radio Rasclat Web (v4.0.2)
                    <svg-icon key="external"></svg-icon
                  ></a>
                </h3>
              </div>
              <div class="changes">
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_new">New</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Adds a bunch of new translation files and also updates
                        the source language file.
                      </li>
                      <li>
                        Adds a pulsating live indicator on the live slideshow
                        slide.
                      </li>
                      <li>Adds ngx-translate-extract-marker.</li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_changes">Changes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        The recordings under the recordings page are now getting
                        automatically ordered and sorted after month.
                      </li>
                      <li>
                        Slice slideshow wrapper text with CSS instead of Angular
                        string manipulation.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_fixed">Bug-Fixes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>Remove link from live slideshow slide.</li>
                      <li>
                        Fixed a bug where the images were to large on the shows
                        page.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="changelogItem">
              <div class="changelogItemHeader">
                <div class="logTime">28.08.2020</div>
                <h3 class="title">
                  <a
                    href="https://github.com/RadioRasclat/radio-rasclat-web/releases/tag/4.0.1"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Radio Rasclat Web (v4.0.1)
                    <svg-icon key="external"></svg-icon
                  ></a>
                </h3>
              </div>
              <div class="changes">
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_new">New</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Display the next and current live shows in the
                        slideshow, if there are any.
                      </li>
                      <li>
                        Embeds the Twitch video live stream in the slideshow.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_changes">Changes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        The navigation button now shows an 'x'-icon after the
                        toggle has been pressed.
                      </li>
                      <li>
                        The single project page now shows the correct date
                        range.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_fixed">Bug-Fixes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        Fixes a bug where images on sub pages fall out of the
                        grid.
                      </li>
                      <li>Fixes a responsive bug on the about page.</li>
                      <li>
                        Fixes a bug where the gallery component gets too large
                        if there is only one result.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="changelogItem">
              <div class="changelogItemHeader">
                <div class="logTime">17.08.2020</div>
                <h3 class="title">
                  <a
                    href="https://github.com/RadioRasclat/radio-rasclat-web/releases/tag/4.0.0"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Radio Rasclat Web (v4.0.0)
                    <svg-icon key="external"></svg-icon
                  ></a>
                </h3>
              </div>
              <div class="changes">
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_new">New</h3>
                  </div>
                  <div class="content">
                    <p>
                      <span
                        >We present Radio Rasclat Web in version four. The
                        entire application has been entirely rewritten from
                        scratch to provide you an improved user experience.
                        Another clearly defined focus is the consistency of the
                        overall design, which now has a modern look through the
                        different structures of all individual components.</span
                      >
                    </p>
                    <ul>
                      <li>New design system for all components.</li>
                      <li>Updated UI experience.</li>
                      <li>Background music player.</li>
                      <li>New defined dark-mode.</li>
                      <li>News and projects sections.</li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_changes">Changes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        The main menu has been relocated to the top-bar as a
                        dropdown.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_fixed">Bug-Fixes</h3>
                  </div>
                  <div class="content">
                    <ul>
                      <li>Responsive UI issues.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
