<div class="col-12" *ngIf="isLoading == false && shows?.length == 0">
  <app-text-seperator [text]="'noShowsFound' | translate" [isLink]="false">
  </app-text-seperator>
</div>

<div class="showGallery" *ngIf="!isLoading == true">
  <div class="grid-auto-md grid-auto-xl@md">
    <div
      class="show"
      [hidden]="isLoading"
      *ngFor="let show of shows?.slice(0, limit)"
    >
      <div class="show__wrapper">
        <div class="show__info__container">
          <div class="show__title">
            <a routerLink="/shows/{{ show?.slug }}">
              <h5>{{ show?.title }}</h5>
            </a>
          </div>
          <div class="show__description">
            {{ show?.description | safeHtml }}
          </div>
        </div>
        <div class="show__image__container">
          <a routerLink="/shows/{{ show?.slug }}">
            <figure class="banner">
              <img
                [defaultImage]="defaultImage"
                [lazyLoad]="show?.image"
                alt="{{ show?.title }}"
              />
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="showGallery" *ngIf="isLoading">
  <div class="grid-auto-md grid-auto-xl@md">
    <ng-container *ngFor="let i of [].constructor(limit)">
      <div class="show">
        <div class="show__wrapper">
          <div class="show__info__container">
            <div class="show__title">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  height: '1.2rem',
                  width: '100%'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div class="show__description">
              <ngx-skeleton-loader
                count="2"
                [theme]="{
                  height: '1rem',
                  width: '100%'
                }"
              ></ngx-skeleton-loader>
            </div>
          </div>
          <div class="show__image__container">
            <a routerLink="/shows/{{ show?.slug }}">
              <figure class="banner">
                <img
                  [defaultImage]="defaultImage"
                  [lazyLoad]="show?.image"
                  alt="{{ show?.title }}"
                />
              </figure>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
