name: Build Angular
on: [push, pull_request]
env:
  CI: true
jobs:
  test:
    name: 'Test on Node.js ${{ matrix.node-version }}'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install & Build
        run: |
          npm i
          npm run build
      - name: Linting
        run: npm run lint
      - name: Test
        run: npm test
      - name: E2E
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          headless: true
      - name: Coverage
        uses: codecov/codecov-action@v1
