name: Sentry Release
on:
  release:
    types: [published, prereleased]
jobs:
  createSentryRelease:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: radio-rasclat
          SENTRY_PROJECT: radio-rasclat-web
        with:
          environment: production
          sourcemaps: './dist'
          version: ${{ github.ref }}
