.filterPanel h4 {
	margin-bottom: .5rem;
}

::ng-deep {

	input.ais-SearchBox-input {
		outline: none;
		border: none;
		background: transparent;
		text-align: center;
		font-family: "Trash", sans-serif;
		width: 100%;
		color: var(--text-color);
		padding: 1.5rem 0 1rem;
		font-size: 2rem;
		border-bottom: 1px solid var(--card-border);
		margin-bottom: 2rem;
	}

	span.ais-RefinementList-labelText {
		margin: 0 .5rem;
	}

	span.ais-RefinementList-count {
		background: var(--secondary-color-light);
		color: var(--secondary-color);
		padding: 0 .5rem;
		border-radius: var(--card-border-radius);
		font-size: 80%;
	}

	ul.ais-RefinementList-list {
		padding: 0;
		list-style: none;
		margin-top: 1rem;
	}

	li.ais-RefinementList-item {
		margin-bottom: .5rem;
	}

	.ais-Panel {
		margin-bottom: 3rem;
		padding: .2rem 1rem;
		background: var(--card-light-background);
		border-radius: var(--card-border-radius);
	}

	button.ais-SearchBox-reset {
		display: none;
	}

	button.ais-SearchBox-submit {
		display: none;
	}

	ul.ais-Pagination-list {
		display: block;
		list-style: disc outside none;
		margin: 1em 0;
		padding: 0;
		text-align: center;
		font-family: "Trash", sans-serif;
	}

	ul.ais-Pagination-list li {
		display: inline-block;
	}

	li.ais-Pagination-item {
		margin: 0 .5rem;
	}

	li.ais-Pagination-item a {
		text-decoration: none;
	}

	li.ais-Pagination-item.ais-Pagination-item--disabled a {
		color: var(--text-color-light);
	}

	li.ais-Pagination-item.ais-Pagination-item--selected a {
		color: var(--secondary-color);
		text-decoration: underline;
	}
}

@media only screen and (min-width: 32rem) {

	::ng-deep {

		input.ais-SearchBox-input {
			font-size: 3rem;
		}
	}
}

@media only screen and (min-width: 32rem) {

	::ng-deep {

		input.ais-SearchBox-input {
			font-size: 4rem;
		}
	}
}

@media only screen and (min-width: 32rem) {

	::ng-deep {

		input.ais-SearchBox-input {
			font-size: 4.5rem;
		}
	}
}
