/* Blog Post Single Entry App */

.blogPostEntry {
  margin-top: 2rem;
}

.blogPostEntry .blogPostEntry__meta {
  margin-bottom: 2rem;
  text-align: center;
}

::ng-deep {

  .blogPostEntry .blogPostEntry__content p:first-child:first-letter {
    color: var(--text-color);
    float: left;
    font-family: "Times New Roman", serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
}

.blogPostEntry .blogPostEntry__meta .blogPostEntry__date {
  color: var(--text-color-light);
  margin-bottom: 1rem;
}
