/* Blog Post Single Entry App */

.blogPostEntry {
  margin-top: 2rem;
}

.blogPostEntry .blogPostEntry__meta {
  margin-bottom: 2rem;
  text-align: center;
}

.blogPostEntry .blogPostEntry__meta .blogPostEntry__date {
  color: var(--text-color-light);
  margin-bottom: 1rem;
}
