<div class="container">
  <app-page-title
    [title]="'blog' | translate"
    [isLink]="true"
    [url]="'/blog'"
  ></app-page-title>

  <app-page-banner [image]="blogPost?.image"></app-page-banner>

  <div class="grid">
    <div
      class="col-start-1 col-end-13 col-start-3@sm col-end-11@sm col-start-4@md col-end-10@md"
    >
      <div class="blogPostEntry">
        <div class="blogPostEntry__wrapper">
          <div class="blogPostEntry__body">
            <div class="blogPostEntry__meta">
              <div class="blogPostEntry__date">
                {{ blogPost?.createdAt | date: 'dd.MM.yyyy' }}<br />
                {{ 'readingTime' | translate }}:
                {{ blogPost?.description | readingtime }}
                {{ 'minutes' | translate }}
              </div>
              <div class="blogPostEntry__title">
                <h1 [style.color]="hex">{{ blogPost?.title }}</h1>
              </div>
            </div>
            <div class="blogPostEntry__content">
              <span [innerHTML]="blogPost?.description"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
